!!!
%html.no-js{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= current_page.data.title || "Gas"

    = stylesheet_link_tag 'story'

  %body{:class => "#{page_classes}"}
    = partial 'header'
    = yield
    = partial 'footer'

    - js_files = %w( vendor/jquery.min vendor/html5up app )
    = javascript_include_tag *js_files
    = javascript_include_tag "https://use.typekit.net/rqi7oqq.js"
    /[if lte IE 8] <script src="assets/js/ie/respond.min.js"></script>

    :javascript
      try{Typekit.load({ async: true });}catch(e){}
