.sixteen.wide.column
  = partial 'header'

.sixteen.wide.column
  .header
    %h1
      %a.ui.large.basic.green.circular.label
        = category.id
      = category.name
    .ui.grid#intro
      .row
        .ten.wide.column
          %p.intro= category.narrative
        .six.wide.column
          %img{:src => category.image}/

.sixteen.wide.column
  %hr
  .ui.horizontal.divider
  .ui.grid#goals
    .row
      .sixteen.wide.column
        %h3
          %i.green.circle.checkmark.icon
          Goals for this phase
    .row
      - (category.goals || []).each do |goal|
        .five.wide.column
          = goal

.sixteen.wide.column
  %hr
  .ui.horizontal.divider

.ten.wide.column
  .ui.grid
    .row
      .sixteen.wide.column
        %h3 Action Steps
        .ui.fluid.accordion#action-steps
          - (category.action_steps || []).each.with_index(1) do |step, index|
            .title
              %h4= "#{index}. #{step}"
            .content
              .ui.basic.text.segment
                -# prepare_to_shop/check_your_credit
                = step_markdown :categories, :content, category.name, step
        .ui.tertiary.gray.text.segment
          %p
            Visit our
            %a{href: '#'} sources page
            to learn more about the facts and numbers we reference.

          %p
            Note: The process and forms described on this page reflect
            %a{href: '#'} new mortgage regulations
            that take effect for
            %a{href: '#'} most mortgages
            on October 3, 2015.

.six.wide.column
  .ui.grid
    .sixteen.wide.column
      .ui.tertiary.inverted.olive.segment
        %h5 Tools for this phase
        - (category.tools || []).each do |tool|
          %p= tool.description
          %p
            %a{href: "#{tool.link.url}"}= tool.link.text

.sixteen.wide.column
  %h4 Ready for more? Explore another phase in the mortgage process.
  %hr
  = partial 'footer'
  %hr
