.row
  .black.column
    %h1= 12.times.map { "|" }.join
    %h1= 12.times.map { "|" }.join
    %h1= 12.times.map { "|" }.join
    %h1= 12.times.map { "|" }.join

    %h1= 99.times.map { "|" }.join
    %h1= 99.times.map { "|" }.join

    %h1= 12.times.map { "|" }.join
    %h1= 12.times.map { "|" }.join
